.col-lg-6{
  margin: auto;
}

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.homeText{
   font: 400 1rem/1.5 "Neuton";
	 text-transform: uppercase;
	 letter-spacing: 0.5em;
   padding: 20px;
 }

.myName{
  font: 700 4em "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, .5);
 /* Clip Background Image */
  background: url(https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2016/12/3066586-poster-p-1-the-year-dark-patterns-won.jpg) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
 /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
 /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
 }
  100% {
    background-position: 100% 50%;
 }
}



.about-container{
  margin: auto;
  padding: 20px;
  width: 80%;
  height: 400px;
  overflow: auto;
  border: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: lightblue;
}
.about-text{
  padding: 0 2%;
  font-weight: 300;
  color: grey;
  text-align: left;
}






@media only screen and (max-width: 767px) {
  .homeText{
    font-size: 0.8rem;
  }
}
